body(style="background:red")
.ctn-index(style="padding-top:50px; text-align:center; color:white")
    h1 This is an Express.js Server
    h1 DEV MODE
    h1 Happy Coding
    br
    br
    a(href="/logout") Logout
br
h2 api/
h3 Get user infos: 
    a(href="/api/getuserinfos" target='_blanck') api/getuserinfos
